<html>
<head>
<title>DevSecOps - Background, Status and Future Challenges</title>

<link rel="stylesheet" type="text/css" href="style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel="stylesheet">

<style>
#container {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  background: #fe9;
  font-family: "Palatino",serif;
}
</style>
</head>

<body>
  <div class="wrapper">
    
    <div class="left">
      <img class="profile-picture" src="img/profile.jpg" width="200"/>
      <h1 class="name">DevSecOps - Background, Status and Future Challenges</h1>
      <h2 class="subtitle">University of Stavanger</h2>
      <h2> F. Ozgur Catak</h2>
    </div>
    
    <div class="right">
      <p class="bio">
        CyberSecurity Researcher, Computer Scientist.  blah blah blah.
        Thanks for visiting my website.
      </p>
      <ul class="social-links">
        <li><a href="https://github.com/ianjsikes">Github</a></li>
        <li><a href="https://medium.com/@ianjsikes">Medium</a></li>
      </ul>
    </div>
    
  </div>
</body>


</body>
</html>
